'exception-reporting':
  'userId': 'd388340b-4db4-aecd-76ce-f31ab3fd15f9'
'release-notes':
  'viewedVersion': '0.81.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'f6cbaad22b5bb34f185e0b57f5612f7b3483d967'
